body {
    padding: 5rem;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    background-color: rgba(177, 133, 90, 0.96);   
}

.page {
    background-image: conic-gradient(rgb(244, 244, 242) 180deg, rgb(234, 231, 231) 180deg);
    padding: 2.5rem;
}

.material-symbols-outlined {    
  color: red;
}

.new_game {
    text-align: center;
    justify-content: baseline;
    font-size: 1.2rem;
}

.player {
    padding: 3rem;
}

.part1 {
    text-align: center;
    
}

.scoreGlobal{
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    color: red;
}

.scoreRound {
   margin-top: 5rem;
   padding: 0.5rem;
    font-size: 1.5rem;
    background-color: red;
    display: inline-block;
    width: 6rem;
}

p {
    font-size: 0.7rem;
}

.score {
    color: white;
}

.dice {
    
    text-align: center;
    margin-bottom: 3rem;
    
}

.dice-area {
    width: 5rem;
    height: 5rem;
    /* background-color: aqua; */
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: inline-block;
    /* margin-left: 6.5rem; */
}

.roll_dice {
    font-size: 1.2rem;
    margin-top: 6rem;
}

.hold {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.part2 {
    text-align: center;
}